body {
  font-family: sans-serif;
}

form {
  max-width: 600px;
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
}

label {
  display: block;
}

input,
select {
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  margin-top: 1em;
}

.peripheral {
  margin-bottom: 1em;
}

.removePeripheral {
  margin-top: 0.5em;
}

@media (min-width: 600px) {
  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  form > div,
  #peripherals,
  button[type="submit"] {
    flex-basis: calc(50% - 1em);
    margin-bottom: 1em;
  }

  label {
    display: inline-block;
    width: calc(30% - 1em);
    margin-right: 1em;
    text-align: right;
    vertical-align: middle;
  }

  input,
  select,
  button[type="submit"] {
    width: calc(70% - 1em);
    vertical-align: middle;
  }

}